*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16px;
}

.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 h2{
    display: inline-block;
    font-size: 45px;
}
.header nav {
    padding-top: 0px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:  20px;
}

.header nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.header a:visited{
    color: white;
}
.header a:hover{
    color: blue;
    background-color: gray;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.Main-Section p{
    text-align: right;
}
.Main-Section img{
    display: block;
    margin: 0px;
    max-width: 250px;
}
.float-left{
    float: left;
    margin 0%;
    align-content: flex-start;
}
.Main-Section h2{
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
} 
.About-me, .Projects, .Work, .Education{
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
    color: #ffffff;
}
.List{
    float: right;
    font-size: 35px;
}